<div style="text-align:center; padding: 20px;">
  <a href="https://www.columbia.edu" target="_blank">
    <img src="{{ "/assets/images/sponsors/columbia.png" | relative_url }}" alt="Columbia Logo" style="height:40px; margin:0 10px;">
  </a>
  <a href="https://qiskit.org" target="_blank">
    <img src="{{ "/assets/images/sponsors/qiskit.png" | relative_url }}" alt="Qiskit Logo" style="height:40px; margin:0 10px;">
  </a>
  <a href="https://ibm.com/quantum" target="_blank">
    <img src="{{ "/assets/images/sponsors/ibm.png" | relative_url }}" alt="IBM Logo" style="height:40px; margin:0 10px;">
  </a>
  <a href="https://linktr.ee/quantummeow" target="_blank">
    <img src="{{ "/assets/images/sponsors/qmeow.png" | relative_url }}" alt="IBM Logo" style="height:40px; margin:0 10px;">
  </a>
</div>

